body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
  line-height: 1.4em;
}

.container {
	padding: 0;
  margin: auto;
  margin-top: 40px;
  max-width: 800px;
}

.user-stories {
  text-align: left;
  max-width: 700px;
  margin: 15px auto;
}

code {
  font-family: monospace;
  color: black;
  background-color: rgba(0,0,0,0.1);
}

a {
	color: #2574A9;
}

ol {
	list-style-position: inside;
	padding-left: 0;
}

li {
  margin-bottom: 1em;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 220px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=submit] {
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  line-height: initial;
}
